/* Container برای هدر */
.top-header-container {
  width: 100%;
  max-width: 1200px; /* حداکثر عرض */
  margin: 0 auto;
  padding: 40px 20px; /* فاصله بیشتر برای بزرگتر کردن هدر */
}

/* تنظیمات کارت‌ها */
.game-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.game-card {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* سایه برای زیبایی بیشتر */
  max-width: 300px;
  width: 100%;
}

.game-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.game-card h3 {
  color: white;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.slick-center .game-card {
  transform: scale(1.2); /* کارت وسطی بزرگتر */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* سایه بزرگتر برای کارت وسط */
}

.slick-slide {
  opacity: 0.7;
}

.slick-center .game-card {
  opacity: 1;
}

/* برای صفحه‌های کوچکتر */
@media (max-width: 1024px) {
  .game-card {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .game-card {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .game-card {
    max-width: 150px;
  }
}
